<div class="jumbotron">
    <table class="table table-responsive">
        <tr>
            <td>Total Products</td>
            <td>Total Customer</td>
            <td>Total Employee</td>
            <td>Total Orders</td>
        </tr>
        <tr>
            <td>Total Purchase</td>
            <td>Total Brand</td>
            <td>Total Suppliers</td>
            <td>Wishlists</td>
        </tr>
    </table>
</div>

